---
import Layout from '../components/Layout.astro';
import sanity from '../sanity'
---

<Layout footerColor="red" footerBgPosition="bg-bottom">
  <div>
    <h1>Gallery coming soon</h1>
  </div>
</Layout>