---
import Layout from '../components/Layout.astro';
---

<Layout>
	<main>

    <p lang="de">
      Nano Trace Technologies bezweckt die Durchführung von hydrogeologischen Untersuchungen und Studien mit einzigarten Methoden, Durchführung von Traceversuchen mit Fluoreszenz- und anderen Tracerstoffen, Analyse von Altlasten, Erstellung von Gutachten und Altlastensanierungskonzepten sowie Forschung und Erbringung von Dienstleistungen auf diesen und verwandten Gebieten.
    </p>

    <p>
        Nano Trace Technologies carries out hydrogeological investigations and studies using state-of-the-art techniques, to conduct trace tests with fluorescent and other tracer substances, to analyze contaminated sites, to prepare expert reports and remediation concepts, and to conduct research and provide services in these and related fields. 
    </p>
  
	</main>
</Layout>
