---
import sanity from '../sanity'
import Layout from '../components/Layout.astro';

const about = await sanity.fetch('*[_type == "about"][0]')

const phone = about.phone.replaceAll('-', '')
---

<Layout>
  <div class="mt-12">

    <p>
      { about.description }
    </p>

    <h2 class="mt-12 mb-2">Contact</h2>

    <address class="not-italic ml-4 ">
      { about.name }<br>
      <span class="whitespace-pre-line">{ about.address }</span><br>
      <a href={"tel:" + phone} target="_blank" class="underline my-2 inline-block">Give me a call</a><br>
      <a href={ "mailto:" + about.email } target="_blank" class="underline">Send me an email</a>
    </address>

  </div>
</Layout>

<script>
  import mailgo from "mailgo";
  mailgo();
</script>