---
import Layout from '../components/Layout.astro';
---

<Layout>
  <div class="mt-12">

    <h1>Nano Trace Technologies</h1>

    <p>
      <b>Nano Trace Technologies</b> carries out hydrogeological investigations and studies using state-of-the-art
      techniques,
      to conduct trace tests with fluorescent and other tracer substances, to analyze contaminated sites, to prepare
      expert reports and remediation concepts, and to conduct research and provide services in these and related fields.
    </p>

  </div>
</Layout>