---
import Layout from '../components/Layout.astro'
import sanity from '../sanity'

const query = /* groq */ `{
  "publications": *[_type == 'publication'] { title, year, "file": pdf.asset->},
  "cv": *[_type == 'about'][0].cv.asset->
}`

const { cv, publications } = await sanity.client.fetch(query)
---

<Layout>
  <div>

    <h2>Publications</h2>

    <ul>
      <li> {publications.map(p => <a href={p.file.url} target="_blank">{p.title} ({p.year}) [PDf]</a>)}</li>
    </ul>


    <h2 class="mt-24">CV</h2>

    <a href={cv.url} target="_blank">NTT CV Otz short 2020 (A4) [PDf]</a>

  </div>
</Layout>