---
import '../base.css'
import { Image } from '@astrojs/image/components'
import logo from '../assets/logo.jpg'

const year = new Date().getFullYear()
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧪</text></svg>"
    />
    <title>Nano Trace Technologies</title>
  </head>

  <body>
    <div class="min-h-screen flex flex-col">
      <div class="mx-8 flex-1">
        <div class="">
          <header class="mt-8 max-w-xl mx-auto">
            <a href="/">
              <Image
                src={logo}
                alt="Nano Trace Technologies: nothing vanishes without a trace"
              />
            </a>
          </header>
          <main class="mt-12">
            <slot />
          </main>
        </div>
      </div>

      <footer class="mt-24 relative">
        <slot name="img-footer" />
        <p
          class="text-white bg-gray-700/30 p-2 absolute top-1/2 left-1/2 text-center -translate-x-1/2 -translate-y-1/2"
        >
          Nano Trace Technologies&trade; <br />
          2006-{year}
        </p>
      </footer>
    </div>
  </body>
</html>
