@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/Inter-Regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'BankGothic';
    src: url('/BankGothic-Bold.ttf') format('ttf');
    font-weight: 700;
  }

  h1 {
    font-family: 'BankGothic';
  }

  p {
    font-family: 'Inter';
  }
}